<!DOCTYPE html>
<html lang="en">
<head>
	<% include layout/header %>
</head>
<body>
 
	<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
		<div class="container-fluid">
			<div class="row">
				   <div class="col-xs-12">
						<div class="login-card card-block">
							<form class="md-float-material">
								<div class="text-center">
									<img src="/admin/images/logo-blue.png" alt="logo">
								</div>
								<h3 class="text-primary text-center m-b-25">Recover your password</h3>


						<div class="md-group">
							<div class="md-input-wrapper">
								<input type="text" class="md-form-control" />
								<label>Email or Mobile Number</label>
							</div>
						</div>
						<div class="btn-forgot">
							<button type="reset" class="btn btn-primary btn-md waves-effect waves-light text-center">SEND RESET LINK
							</button>
						</div>
								<div class="row">
									<div class="col-xs-12 text-center m-t-25">

										<a href="login1.html" class="f-w-600 p-l-5"> Sign In Here</a>

									</div>
								</div>
						<!-- end of btn-forgot class-->
					</form>
					<!-- end of form -->
				</div>
				<!-- end of login-card -->
			</div>
			<!-- end of col-sm-12 -->
		</div>
		<!-- end of row -->
	</div>
	<!-- end of container-fluid -->
</section>


<!-- Required Jqurey -->
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/admin/plugins/tether/dist/js/tether.min.js"></script>

<!-- Required Fremwork -->
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- waves effects.js -->
<script src="/admin/plugins/Waves/waves.min.js"></script>

<!-- Custom js -->
<script type="text/javascript" src="/admin/pages/elements.js"></script>

</body>
</html>
