<!DOCTYPE html>
<html lang="en">
<head>
	<% include layout/header %>
</head>
<body>
<section class="login common-img-bg">
	<!-- Container-fluid starts -->
	<div class="container-fluid">
		<div class="row bg-white">
			<div class="login-card card-block">
				<form class="md-float-material">
					<div class="text-center">
						<img src="images/logo-blue.png" alt="logo">
					</div>
					<h3 class="text-center txt-primary">Your session is locked</h3>
					<div class="imgs-screen text-center">
						<img src="images/lockscreen.png" class="img-circle" alt="lock">
					</div>
					<div class="md-group">
						<div class="md-input-wrapper">
							<input type="password" class="md-form-control">
							<label>Password</label>
						</div>
					</div>
					<div class="unlock">
						<button type="button" class="btn btn-primary btn-md waves-effect waves-light text-center m-b-20">UNLOCK
						</button>
						<p class="f-24"><a href="forgot-password.html"> Forget Your Password?</a></p>
					</div>
				</form>
				<!-- end of form -->
			</div>
			<!-- end of login-card -->
		</div>
		<!-- end of row -->
	</div>
	<!-- end of container-fluid -->

</section>
<!-- Required Jqurey -->
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/admin/plugins/tether/dist/js/tether.min.js"></script>
<!-- Required Fremwork -->
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- waves effects.js -->
<script src="/admin/plugins/Waves/waves.min.js"></script>
<!--text js-->
<script type="text/javascript" src="/admin/pages/elements.js"></script>



</body>
</html>
