
input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }
  
  .input-group {
    font-family: inherit;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
  }
  
  .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
.input--style-1 {
    padding: 9px 0;
    color: #666;
  }
  
  .input--style-1::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #555;
  }
  
  .input--style-1:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #555;
    opacity: 1;
  }
  
  .input--style-1::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #555;
    opacity: 1;
  }
  
  .input--style-1:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #555;
  }
  
  .input--style-1:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #555;
  }