
<title>Shopiner Admin</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta name="csrf-token" content="<%=csrfToken%>">
<!-- Favicon icon -->
<link rel="shortcut icon" href="/admin/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/admin/images/favicon.ico" type="image/x-icon">

<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

<!-- iconfont -->
<link rel="stylesheet" type="text/css" href="/admin/icon/icofont/css/icofont.css">

<!-- simple line icon -->
<link rel="stylesheet" type="text/css" href="/admin/icon/simple-line-icons/css/simple-line-icons.css">

<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" href="/admin/plugins/bootstrap/css/bootstrap.min.css">

<!-- Weather css -->
<link href="/admin/css/svg-weather.css" rel="stylesheet">

<!-- Echart js -->
<script src="/admin/plugins/charts/echarts/js/echarts-all.js"></script>

<!-- Style.css -->
<link rel="stylesheet" type="text/css" href="/admin/css/main.css">
<link rel="stylesheet" type="text/css" href="/admin/css/input.css">


<!-- Responsive.css-->
<link rel="stylesheet" type="text/css" href="/admin/css/responsive.css">

<!--color css-->
<link rel="stylesheet" type="text/css" href="/admin/css/color/color-1.min.css" id="color"/>

<!--font awesome css-->
<link rel="stylesheet" type="text/css" href="/admin/icon/font-awesome/css/fontawesome.css"/>
<link rel="stylesheet" type="text/css" href="/admin/icon/font-awesome/css/brands.css"/>
<link rel="stylesheet" type="text/css" href="/admin/icon/font-awesome/css/solid.css"/>

<!-- Include the Material Ui theme -->
<link rel="stylesheet" href="@sweetalert2/theme-material-ui/material-ui.css">
<script src="sweetalert2/dist/sweetalert2.min.js"></script>







  


