<div class="left-menu col-lg-3">
	<div class="account-avatar border mb-3">
		<%if(user.avatar){%>
		<img src="/images/avatars/<%=user.avatar%>" width="100px" height="100px">
		<%}else{%>
		<img src="/images/avatars/unknown.png" width="100px" height="100px">
		<%}%>
		<button class="btn-change-avatar" type="button">Thay đổi</button>
		<input type="file" name="user_avatar" accept="image/png,image/jpeg,image/jpg">
		<button class="btn-save-avatar">Lưu</button>
	</div>
	<div class="list-left-menu border">
		<ul class="navbar-nav ml-auto mr-0">
			<li class="nav-item mb-lg-0 mb-2 border-bottom active">
				<a class="nav-link pl-3" href="/tai-khoan"><i class="fas fa-user"></i> Thông tin tài khoản</a>
			</li>
			<li class="nav-item mb-lg-0 mb-2 border-bottom">
				<a class="nav-link pl-3" href="/tai-khoan/chinh-sua"><i class="fas fa-edit"></i> Chỉnh sửa thông tin</a>
			</li>
			<li class="nav-item mb-lg-0 mb-2 border-bottom">
				<a class="nav-link pl-3" href="/tai-khoan/lich-su-mua-hang"><i class="fas fa-shopping-cart"></i> Lịch sử mua hàng</a>
			</li>
			<li class="nav-item mb-lg-0 mb-2 border-bottom">
				<a class="nav-link pl-3" href="/tai-khoan/thay-doi-mat-khau"><i class="fas fa-user-secret"></i> Thay đổi mật khẩu</a>
			</li>
		</ul>
	</div>
</div>