<div class="d-flex comment-item py-3">
	<div class="comment-avatar">
		<%if(comment.avatar){%>
		<img src="/images/avatars/<%=comment.avatar%>">
		<%}else{%>
		<img src="/images/avatars/unknown.png">
		<% }%>
	</div>
	<div class="ml-3 w-100">
		<div class="d-flex align-center">
			<h6 class="comment-name w-100"><%=comment.name%></h6>
			<small class="comment-date mx-5"><%=getDateCreated(comment.created)%></small>
		</div>
		<p class="text-monospace"><%=comment.content%></p>
	</div>
</div>