	<!-- top-header -->
	<div class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				<div class="col-lg-4 header-most-top">
					<p class="text-white text-lg-left text-center">Ưu đãi & Giảm giá hàng đầu khu vực
						<i class="fas fa-shopping-cart ml-1"></i>
					</p>
				</div>
				<div class="col-lg-8 header-right mt-lg-0 mt-2">
					<!-- header lists -->
					<ul>
						
						<li class="text-center border-right text-white"><i class="fas fa-phone mr-2"></i> 001 234 5678
						</li>
						<%if(!logged){
							%>
							<li class="text-center border-right text-white">
								<a href="#" data-toggle="modal" data-target="#exampleModal" id="showLogin" class="text-white"><i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập </a>
							</li>
							<li class="text-center border-right text-white">
								<a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white"><i class="fas fa-sign-out-alt mr-2"></i>Đăng ký </a>
							</li>
							<%
						}else{
							%>
							<li class="text-center border-right text-white">
								<a href="/tai-khoan" class="text-white"><i class="fas fa-user mr-2"></i> Xin chào <b><%=user.username%></b></a>
							</li>
							<li class="text-center border-right text-white">
								<a href="/tai-khoan/dang-xuat" class="text-white"><i class="fas fa-sign-out-alt mr-2"></i> Đăng xuất </a>
							</li>
							<%
						}%>
						<li class="text-center text-white">
							<a href="/don-hang" class="text-white"><i class="fas fa-truck mr-2"></i>Theo dõi đơn hàng</a>
						</li>
					</ul>
					<!-- //header lists -->
				</div>
			</div>
		</div>
	</div>

	<!-- modals -->
	<!-- log in -->
	<%if(!logged){
		%>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-center">Đăng nhập</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="/tai-khoan/dang-nhap" method="post" id="login-form">
							<div class="form-group">
								<label class="col-form-label">Tên đăng nhập</label>
								<input type="text" class="form-control" placeholder=" " name="login_username" required="">
								<div class="invalid-feedback invalid-login-username"></div>
							</div>
							<div class="form-group">
								<label class="col-form-label">Mật khẩu</label>
								<input type="password" class="form-control" placeholder=" " name="login_password" required="">
								<div class="invalid-feedback invalid-login-password"></div>
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Đăng nhập">
							</div>
							<!-- <div class="sub-w3l">
								<div class="custom-control custom-checkbox mr-sm-2">
									<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
									<label class="custom-control-label" for="customControlAutosizing">Nhớ tài khoản?</label>
								</div>
							</div> -->
							<p class="text-center dont-do mt-3">
								<a href="/tai-khoan/quen-mat-khau">
								Quên mật khẩu?</a>
							</p>
							<p class="text-center dont-do mt-3">Bạn chưa có tài khoản?
								<a href="#" data-toggle="modal" data-target="#exampleModal2">
								Đăng kí bây giờ</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- register -->
		<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Đăng ký</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="/tai-khoan/dang-ky" method="post" id="sign-up-form">
							<div class="form-group">
								<label class="col-form-label">Tên đăng nhập</label>
								<input type="text" class="form-control" placeholder=" " name="signup_username" required="">
								<div class="invalid-feedback invalid-signup-username"></div>
							</div>
							<div class="form-group">
								<label class="col-form-label">Email</label>
								<input type="email" class="form-control" placeholder=" " name="signup_email" required="">
							</div>
							<div class="form-group">
								<label class="col-form-label">Mật khẩu</label>
								<input type="password" class="form-control" placeholder=" " name="signup_password" id="password1" required="">
								<div class="invalid-feedback invalid-signup-password"></div>
							</div>
							<div class="form-group">
								<label class="col-form-label">Xác nhận mật khẩu</label>
								<input type="password" class="form-control" placeholder=" " name="signup_password_confirmation" id="password2" required="">
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Đăng ký">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- //modal -->
		<%
	}%>
	<!-- //top-header -->

	<!-- header-bottom-->
	<div class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="/" class="font-weight-bold font-italic">
							<img src="/images/logo2.png" alt=" " class="img-fluid">Electro Store
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="#" method="get">
								<div class="position-relative wr mr-sm-2">
									<input class="form-control" type="search" name="t_key" placeholder="Tìm kiếm" aria-label="Search" required>
									<select class="input-select form-control" name="t_category">
										<option value="dien-thoai">Điện thoại</option>
										<option value="laptop">Laptop</option>
										<option value="tablet">Tablet</option>
										<option value="tivi">Tivi</option>
									</select>
								</div>
								<button class="btn my-2 my-sm-0 btn-search-product" type="button" title="Tìm kiếm"><i class="fas fa-search"></i></button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
							<div class="wthreecartaits wthreecartaits2 cart cart box_1">
								<form action="#" method="post" class="last">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="display" value="1">
									<button type="button" class="btn w3view-cart quick-view-cart" name="submit" value="">
										<i class="fas fa-cart-arrow-down"></i>
									</button>
								</form>
							</div>
						</div>
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
							<!-- <div class="agileits-navi_search">
								<form action="#" method="post">
									<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
										<option value="">Tất cả danh mục</option>
										<option value="Televisions">TV</option>
										<option value="Headphones">Tai nghe</option>
										<option value="Computers">Máy tính</option>
										<option value="Appliances">Thiết bị gia dụng</option>
										<option value="Mobiles">Điện thoại</option>
										<option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
										<option value="iPad & Tablets">iPad & Tablets</option>
										<option value="Cameras & Camcorders">Cameras & Camcorders</option>
										<option value="Home Audio & Theater">Giàn âm thanh sân khấu</option>
									</select>
								</form>
							</div> -->
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto text-center mr-xl-5">
									<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/">Trang chủ
											<span class="sr-only">(current)</span>
										</a>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/dien-thoai">Điện thoại</a>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/laptop">Laptop</a>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/tablet">Tablet</a>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/tivi">Tivi</a>
									</li>
									<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Phụ kiện
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="/tai-nghe">Tai nghe</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="/loa">Loa</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="/usb">USB</a>
										</div>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/gioi-thieu">Giới thiệu</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/lien-he">Liên hệ</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
	<!-- //navigation -->