	<!-- top-header -->
	<div class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				<div class="col-lg-4 header-most-top">
					<p class="text-white text-lg-left text-center">Ưu đãi & Giảm giá hàng đầu khu vực
						<i class="fas fa-shopping-cart ml-1"></i>
					</p>
				</div>
				<div class="col-lg-8 header-right mt-lg-0 mt-2">
					<!-- header lists -->
					<ul>
						<li class="text-center border-right text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white"><i class="fas fa-truck mr-2"></i>Theo dõi đơn hàng</a>
						</li>
						<li class="text-center border-right text-white"><i class="fas fa-phone mr-2"></i> 001 234 5678
						</li>
						<li class="text-center border-right text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white"><i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập </a>
						</li>
						<li class="text-center border-right text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white"><i class="fas fa-sign-out-alt mr-2"></i>Đăng ký </a>
						</li>
						<li class="text-center text-white">
							<a href="/thanh-toan" class="text-white"><i class="fas fa-check mr-2"></i>Thanh toán</a>
						</li>
					</ul>
					<!-- //header lists -->
				</div>
			</div>
		</div>
	</div>

	<!-- modals -->
	<!-- log in -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center">Đăng nhập</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="form-group">
							<label class="col-form-label">Tên đăng nhập</label>
							<input type="text" class="form-control" placeholder=" " name="Name" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Mật khẩu</label>
							<input type="password" class="form-control" placeholder=" " name="Password" required="">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control" value="Log in">
						</div>
						<div class="sub-w3l">
							<div class="custom-control custom-checkbox mr-sm-2">
								<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
								<label class="custom-control-label" for="customControlAutosizing">Nhớ tài khoản?</label>
							</div>
						</div>
						<p class="text-center dont-do mt-3">Bạn chưa có tài khoản?
							<a href="#" data-toggle="modal" data-target="#exampleModal2">
							Đăng kí bây giờ</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- register -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Register</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="form-group">
							<label class="col-form-label">Tên của bạn</label>
							<input type="text" class="form-control" placeholder=" " name="Name" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Email</label>
							<input type="email" class="form-control" placeholder=" " name="Email" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Mật khẩu</label>
							<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Xác nhận mật khẩu</label>
							<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control" value="Register">
						</div>
						<div class="sub-w3l">
							<div class="custom-control custom-checkbox mr-sm-2">
								<input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
								<label class="custom-control-label" for="customControlAutosizing2">Tôi chấp nhận các điều khoản và điều kiện</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- //top-header -->

	<!-- header-bottom-->
	<div class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="/" class="font-weight-bold font-italic">
							<img src="/images/logo2.png" alt=" " class="img-fluid">Electro Store
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="#" method="post">
								<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
								<button class="btn my-2 my-sm-0" type="submit">Tìm kiếm</button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
							<div class="wthreecartaits wthreecartaits2 cart cart box_1">
								<form action="#" method="post" class="last">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="display" value="1">
									<button class="btn w3view-cart" type="submit" name="submit" value="">
										<i class="fas fa-cart-arrow-down"></i>
									</button>
								</form>
							</div>
						</div>
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
							<!-- <div class="agileits-navi_search">
								<form action="#" method="post">
									<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
										<option value="">Tất cả danh mục</option>
										<option value="Televisions">TV</option>
										<option value="Headphones">Tai nghe</option>
										<option value="Computers">Máy tính</option>
										<option value="Appliances">Thiết bị gia dụng</option>
										<option value="Mobiles">Điện thoại</option>
										<option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
										<option value="iPad & Tablets">iPad & Tablets</option>
										<option value="Cameras & Camcorders">Cameras & Camcorders</option>
										<option value="Home Audio & Theater">Giàn âm thanh sân khấu</option>
									</select>
								</form>
							</div> -->
							<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button> -->
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto text-center mr-xl-5">
									<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/">Trang chủ
											<span class="sr-only">(current)</span>
										</a>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/dien-thoai">Điện thoại</a>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/laptop">Laptop</a>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/tablet">Tablet</a>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/tivi">Tivi</a>
									</li>
									<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Phụ kiện
										</a>
										<div class="dropdown-menu">
											<div class="agile_inner_drop_nav_info p-4">
												<div class="row">
													<div class="col-sm-6 multi-gd-img">
														<ul class="multi-column-dropdown">
															<li>
																<a href="product.html">Tai nghe</a>
															</li>
															<li>
																<a href="product.html">Loa</a>
															</li>
														</ul>
													</div>
													<div class="col-sm-6 multi-gd-img">
														<ul class="multi-column-dropdown">
															
															<li>
																<a href="product.html">Usb</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
										<a class="nav-link" href="/gioi-thieu">Giới thiệu</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/lien-he">Liên hệ</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
	<!-- //navigation -->